.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 1rem;

  .actions {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.material-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  span.material-icons {
    font-size: 20px;
  }
}
