<h2>Grid Lab</h2>

<section class="grid-lab">
  <div class="grid-example">
    <h3>Example 1</h3>
    <app-shared-table
      [showSearch]="false"
      [enablePagination]="false"
      [showActions]="false"
      [showTabs]="false"
      [title]="'Items'"
      [searchPlaceholder]="'Search items...'"
      [addButtonLabel]="'New Item'"
      [searchLabel]="'Find'"
      [activeTabLabel]="'Active Items'"
      [inactiveTabLabel]="'Inactive Items'"
      [archivedTabLabel]="'Archived Items'"
    >
    </app-shared-table>
  </div>

  <div class="grid-example">
    <h3>Example 2</h3>

    <app-shared-table
      [showSearch]="true"
      [enablePagination]="true"
      [showActions]="true"
      [showTabs]="true"
    />
  </div>
</section>
