<mat-toolbar color="primary">
  <span>Angular lab</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/forms-lab" routerLinkActive="active-link">
    <mat-icon>description</mat-icon>
    Forms
  </a>
  <a mat-button routerLink="/signals-lab" routerLinkActive="active-link">
    <mat-icon>signal_cellular_alt</mat-icon>
    Signals
  </a>
  <a mat-button routerLink="/grids-lab" routerLinkActive="active-link">
    <mat-icon>grid_on</mat-icon>
    Grids
  </a>
  <a mat-button routerLink="/performance-lab" routerLinkActive="active-link">
    <mat-icon>speed</mat-icon>
    Performance
  </a>
</mat-toolbar>